html {
  font-family: monospace;
}

#wrapper {
  width: 110ch;
  margin: 5px auto;
}

a {
  color: #0c4984;
}

ul {
  list-style: none;
  padding-left: 2px;
}

header, #main, #menu {
  display: inline-block;
}

header {
  width: 8ch;
  height: 20px;
  vertical-align: top;
  text-align: center;
  padding: 10px;
}

#menu {
  vertical-align: top;
  width: 12ch;
}

#main {
  width: 80ch;
  border: dotted;
  padding: 7px;
}

