body {
  font-family: monospace;
  margin: 0.5em;
}

header, main, nav {
  display: inline-block;
  vertical-align: top;
}

header, nav {
  line-height: 1.3em;
  margin: 0.5em 0;
}

main {
  width: 80ch;
  border: dotted 0.2em;
  padding: 0 0.6em;
  white-space: pre;
}

a {
  color: #0c4984;
}

nav a {
  display: block;
}

main a {
  display: inline-block;
  max-width: 80ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
