body {
  font-family: monospace;
  display: flex;
  margin: 0.5em;
  justify-content: center;
}

header {
  order: 0;
}

main {
  order: 1;
}

nav {
  order: 2;
}

header, nav {
  padding: 0.6em;
  line-height: 1.4em;
}

main {
  width: 80ch;
  border: dotted 0.2em;
  padding: 0 0.6em;
  white-space: pre;
}

a {
  color: #0c4984;
}

nav a {
  display: block;
}

main a {
  display: inline-block;
  max-width: 80ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
